@page "{id:int}"
@model DeleteModel
@{
    ViewData["Title"] = "Eliminar producto";
}
<h2>@ViewData["Title"]</h2>
<h3>¿Seguro que deseas eliminar '@Model.Product.Name'?</h3>

<form method="post" class="mt-3">
  <input type="hidden" asp-for="Product.Id" />
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
